body {
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    overflow-y: scroll; /* force scroll to appear */
    min-height: 100vh;
    background-color: $color--white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* helper class when showing content */
.noscroll {
    overflow: hidden;
}
