main {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: $transition-smooth;

  .section--fullheight {
    align-self: flex-end;
    width: calc(100% - #{$width--flex__col});
    height: 100vh;
    padding: 0 ($padding-sidebar + ($icon--size / 2)) 0 $padding-sidebar;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &.section__intro {
      h2 {
        font-size: 2vw;
        font-family: $font-sans;
        color: $color--blue;
        // text-align: justify;
      }
    }
    // @media (max-width: $bp--desktop) {
    //   width: calc(100% - (#{$width-sidebar} / 2));
    //   padding: $width-sidebar / 4;
    // }
  }
}
