.btn-dvdz {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 180px;
    position: relative;
    user-select: none;
    color: black;
    transition: opacity .35s;

    .item--content {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border: 4px solid black;
        background-color: #FFF;
        color: black;
        transition: transform .175s;
        text-decoration: none;
        .top-left--text {
            padding: 0.5rem;
            position: absolute;
            align-self: flex-start;
        }
        .center-center--text {
            align-self: center;
            width: 100%;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            position: relative;
            margin: 0;

        }
        &:hover {
            transition-duration: .25s;
            transform: translateX(-3px)translateY(-3px);
        }
    }
    &:before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        box-sizing: border-box;
        border: 4px solid black;
        top: 10px;
        left: 10px;
        content: '';
        transition: background-color .25s, transform .24s;
        z-index: -1;
    }
    &:hover {
        &:before {
            background-color: white;
        }
    }
}
